<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ray Tracing Figure</title>

<link href="../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../static/bootstrap_select/css/bootstrap-select.css">
<link href="../static/bootstrap-4.0/bootstrap.min.css" rel="stylesheet" type="text/css"/>


<script src="../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>



</head>
<body>
<div class="container">
    <br>
    <div class="jumbotron">
        <div class="container">
            <div style="width: 80%;float:left;">
            <h1>RayTracing App</h1>
            <br>
            <p>By GreyHats</p>
            </div>
        </div>
    <div style="width: 80%;float:center;">
    <img src="../static/Grey_Hats.png"/>

    </div>
        <div align="right">
            <button type="button" onclick="location.href = '../ObjectQuantity';" class="btn btn-primary btn-lg">Restart</button>
            <label>Please make sure cache is disabled in your browser, otherwise the figure might be the same as previous one.</label>
        </div>
    
    </div>
    <br>
    
</div>
</body>
</html>
