<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ray Tracing Figure</title>

<link href="../static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../static/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../static/bootstrap_select/css/bootstrap-select.css">
<link href="../static/bootstrap-4.0/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<script src="../static/bootstrap-3.3.5/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../static/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container">
    <br>
    <div class="jumbotron">
        <div class="container">
            <div style="width: 80%;float:left;">
            <h1>RayTracing App</h1>
            <br>
            <p>By GrayHats</p>
            </div>
        </div>
    <h1>Progress bar here</h1> 
    <h1>Import back-end </h1>
    <h1>Display the final Ray-tracing figure</h1>   
    <br>
    
</div>
</body>
</html>
